:host {
  width: 400px;
  padding: 15px;

  .visitor-number-container {
    margin-bottom: 20px;
  }

  .visitor-number {
    font-size: 1.2rem;
    color: #1E2129;
  }

  .visitor-remove-icon {
    color: #ef5350;
    cursor: pointer;
  }
}
