:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .action-icon-button {
    cursor: pointer;
    color: #757575;
  }

}
