<mat-accordion>
  <mat-expansion-panel [expanded]="expanded" (opened)="expanded = true" (closed)="expanded = false">

    <mat-expansion-panel-header>
      <mat-panel-description fxLayout="row" fxLayoutAlign="center center">
        Click aqui para mostrar/ocultar filtros de busqueda
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form [formGroup]="filterForm" fxLayout="column">

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" fxFlex class="start-date" (click)="startDatePicker.open()">
            <mat-label>Fecha inicio</mat-label>
            <input formControlName="startDate"
                   matInput
                   [matDatepicker]="startDatePicker"
                   [max]="filterForm.controls.endDate.value"
                   readonly>
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field appearance="outline" fxFlex class="end-date" (click)="endDatePicker.open()">
            <mat-label>Fecha fin</mat-label>
            <input formControlName="endDate"
                   matInput
                   [matDatepicker]="endDatePicker"
                   [min]="filterForm.controls.startDate.value"
                   readonly>
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-flat-button color="primary" (click)="onSearch()" [disabled]="loading || filterForm.invalid">
          Buscar
        </button>
      </div>

    </form>

  </mat-expansion-panel>
</mat-accordion>
